* {
  background-color: #33333d;
  color: rgb(200, 200, 200);
  font-family: 'Baskervville', serif;
  
  padding: 0px;
  margin: 0px;
}
img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  padding: 0;
  margin: 0;
}
h1 {
  padding: 0;
  margin: 20px 20px 20px 20px;
  display: block;
}
h2 {
  background-color: #231f20;
  margin: 10px 0 4px 20px;
  padding: 0;
}
a {
  font-size: 18px;
  font-style: italic;
  background-color: #231f20;
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 24px;
  right: 30px;
}
p {
  font-size: 18px;
  background-color: #231f20;
  font-weight: bold;
  margin: 0;
  padding: 10px 10px 10px 20px;
}
.card-collection {
  width: 1192px;
  display: block;
  margin: 32px;
  padding: 0;
}
.card {
  background-color: #231f20;
  width: 300px;
  height: 400px;
  margin: 32px;
  padding: 0;
  position: relative;
  display: inline-block;
}
.searchbar-div {
  margin: 0px 20px 0px 20px;
  padding: 0;
  display: block;
}
.searchbar {
  font-size: 20px;  
  width: 320px;
  height: 36px;
  border-radius: 20px;
  border: solid 1px #3c3c47;
  background-color: #3c3c47;
}