* {
  background-color: #33333d;
  color: rgb(200, 200, 200);
  font-family: 'Baskervville', serif;
      
  padding: 2px;
  margin: 5px;
}
h1 {
  font-style: italic;
  font-size: 40px;
  margin: 20px 20px 20px 20px;
}
h2 {
  margin: 0px 20px 0px 20px;
  background-color: #33333d;
}
p {
  color: rgb(160, 160, 160);
  font-size: 16px;
  font-style: italic;
  margin: 0px 20px 0px 20px;
}
ul, ol {
  background-color: #3c3c47;
  font-style: italic;
  color: rgb(160, 160, 160);
  padding: 10px 20px 20px 20px;
  margin: 0px 20px 0px 20px;
}
li {
  background-color: #3c3c47;
}
.frame {
  background-color: #3c3c47;
  border: solid 1px rgb(100, 100, 100);
  width: 450px;
  margin: 20px 20px 20px 20px;
  padding: 20px 0px 0px 0px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
}
.frame-header {
  background-color: #3c3c47;
  margin-left: 28px;
}
.cover-img {
  border: solid 1px rgb(200, 200, 200);
  width: 450px;
  height: 275px;
  padding: 0;
  object-fit: cover;
  object-position: center;
  margin: 20px 20px 20px 20px;
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.5);    
}