* {
  background-color: #33333d;
  color: rgb(200, 200, 200);
  font-family: 'Baskervville', serif;
  
  padding: 0px;
  margin: 0px;
}
img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  padding: 0;
  margin: 0;
}
h1 {
  padding: 0;
  margin: 40px 20px 0px 60px;
  display: block;
}
h2 {
  background-color: transparent;
  margin: 0;
  padding-left: 10px;
}
a {
  text-decoration: none;
}
p {
  height: 90px;
  font-size: 18px;
  background-color: transparent;
  font-weight: bold;
  margin: 0;
  padding: 10px 10px 10px 10px;
}
.card-collection {
  display: inline-block;
  margin: 0;
  padding: 32px 32px 32px 32px;
}
.card {
  background-color: #231f20;
  width: 300px;
  height: 400px;
  margin: 32px;
  padding: 0;
  vertical-align: top;
  display: inline-block;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transition: box-shadow 1.3s, transform 1.3s, background-color 3s;
}
.card-text {
  background-color: transparent;
  padding: 20px;
  margin: 0;
}
.card:hover {
  transform: translate(5px, 5px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
  background-color: #33333d;
  transition: box-shadow 0.2s, transform 0.2s, background-color 0.4s;
}
.searchbar-div {
  margin: 40px 20px 0px 60px;
  padding: 0;
  display: block;
}
.searchbar {
  font-size: 20px;  
  width: 400px;
  height: 36px;
  border-radius: 20px;
  border: solid 1px #3c3c47;
  background-color: #3c3c47;
}